.passengerpage {
  width: 100%;
  background-color: #243f71;
  .passengers-hero-planet-left {
    width: 25rem;
    object-fit: contain;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(-50%, 0%);
    z-index: 49;
  }
  .passengers-hero-planet-right {
    width: 50rem;
    object-fit: contain;
    position: absolute;
    top: 15%;
    right: 0;
    transform: translate(50%, 0%);
    z-index: 49;
  }
  .passengers-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 99;
    height: 100%;
  }
  .back-audio {
    display: none;
  }
  .passengermain {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    .passengersmain-content {
      position: relative;
      width: 100%;
      z-index: 500;
    }
    .passengers-header-bg {
      width: 80%;
      height: max-content;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      z-index: 99;
    }
    .passengers-header-mob-bg {
      display: none;
    }
    .passengersheaderhero {
      width: 100%;
      min-height: 145vh;
      position: relative;
      .passengers-hero-mountains {
        width: 100%;
        height: max-content;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 50;
      }
      .passengerheader {
        width: 100%;
        height: 12.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
        .passengerheaderleft {
          width: 75%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          svg {
            height: 2.5rem;
            object-fit: contain;
          }
          ul {
            display: inline-flex;
            margin: 0 0 0 7.5rem;
            overflow: hidden;
            li {
              list-style: none;
              width: max-content;
              margin: 0 5rem 0 0;
              &:hover {
                color: #01fbc2;
              }
              a {
                text-decoration: none;
                font-size: 1.75rem;
                color: #fff;
                cursor: pointer;
                &:hover {
                  color: #01fbc2;
                }
                b {
                  font-size: 2rem;
                  transition: 0.25s;
                }
              }
            }
          }
        }
        .passengerheaderright {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 25%;
          .volumeicons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 1000px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            height: 3.5rem;
            padding: 0.5rem;
            backdrop-filter: blur(3px);
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
              border-radius: 50%;
              background-color: transparent;
              border: none;
              height: 3rem;
              height: 3rem;
              transition: 0 !important;
              svg {
                width: 100%;
              }
            }
            button.passengers-audio-active-btn {
              background-color: #fff;
              svg path {
                stroke: #000 !important;
              }
            }
          }
          .passengerscomingsoon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            backdrop-filter: blur(3px);
            padding: 1.5rem 0;
            color: #fff;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.08) 0%,
              rgba(255, 255, 255, 0.2) 100%
            );
            border: unset;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0 0 0 2rem;
          }
          b {
            margin: 0 0 0 0.25rem;
          }
        }
      }
      .passengershero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 22.5rem 0 0 0;
        h3 {
          font-size: 8.5rem;
          color: #fff;
          font-weight: 500;
          letter-spacing: 8px;
          text-transform: uppercase;
          * {
            font-family: conthrax, sans-serif;
          }
        }
        .passengersicons {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
          margin: 2rem 0 0 0;
          .pibox {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            max-width: 4.5rem;
            max-height: 4.5rem;
            min-width: 4.5rem;
            min-height: 4.5rem;
            border-radius: 50%;
            margin: 0 0 0 1rem;
            cursor: pointer;
            svg {
              width: 2rem;
              color: #fff;
            }
          }
          .pibox:hover {
            background: #fff;
            svg {
              fill: #000 !important;
              path {
                fill: #000 !important;
              }
            }
          }
        }
      }
    }
    .passengersswiper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10rem 0 0 0;
      p {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
      }
      .passengersmainswiper {
        width: 100%;
        height: 100%;
        margin: 3rem 0;
        .passengerslide {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            border-radius: 1rem;
            border: 1px solid rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
    .passengersteam {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      padding: 10rem 0 0 0;
      h6 {
        font-size: 1.85rem;
        color: #01fbc2;
        font-weight: 400;
      }
      h5 {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
      }
      .passengersteamgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3rem 7rem;
        margin: 3rem 0;
        width: 85%;
        .ptgmainbox {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          img {
            width: 20.5rem;
            height: 20rem;
            object-fit: cover;
            border-radius: 1rem;
          }
          p {
            font-size: 1.55rem;
            color: #fff;
            font-weight: 500;
            margin: 1.5rem 0 0 0;
            text-transform: uppercase;
          }
        }
      }
    }
    .passengersfaq {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10rem 0 0 0;
      h3 {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 4rem 0;
        text-align: center;
      }
      .pfaqbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        flex-direction: column;
        .accordion {
          width: 100%;
        }
        .accordion-item {
          margin: 0 0 3.5rem 0;
        }
      }
    }
    .passengersaboutus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10rem 0 35rem 0;
      h6 {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 3rem 0;
      }
      p {
        font-size: 1.85rem;
        color: #fff;
        font-weight: 300;
        text-transform: normal;
        margin: 0 0 3rem 0;
        width: 100%;
        text-align: center;
        line-height: 44px;
      }
      .passaboutusbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5rem 2.75rem;
          border: 2px solid #fff;
          font-size: 1.65rem;
          color: #fff;
          font-weight: 400;
          text-transform: uppercase;
          border-radius: 3rem 0;
          background-color: transparent;
          margin: 0 3rem 0 0;
          svg {
            width: 2.5rem;
            margin: 0 1rem 0 0;
          }
        }
      }
    }
  }
}
.passengers-loading-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #09062c;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.pcircle {
  width: 4.25rem;
  height: 4.25rem;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  .pcircle-dark-1,
  .pcircle-dark-2,
  .pcircle-dark-3 {
    min-width: 4rem;
    min-height: 4rem;
    background-color: #09062c;
    border-radius: 50%;
  }
  .pcircle-light-1,
  .pcircle-light-2 {
    min-width: 4rem;
    min-height: 4rem;
    background-color: transparent;
    border-radius: 50%;
  }
  .pcircle-box {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
}
.planet-1 {
  width: 60rem;
  height: max-content;
  object-fit: contain;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(60%, -50%);
  z-index: 100;
}

.passengers-section-heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.proadmap-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 0 0 0;
  padding: 5rem 0 10rem 0;
}
.passengers-roadmap {
  width: 100%;
  margin: 7.5rem 0 0 0;
}
.proadmap-center-line-box {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  background-color: #fff;
  .proadmap-center-line-box-top {
    width: max-content;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div:nth-child(1) {
      width: 4.5rem;
      height: 1px;
      background-color: #fff;
    }
    & > div:nth-child(2) {
      width: 2.5rem;
      height: 1px;
      background-color: #fff;
      margin: 0.75rem 0 0 0;
    }
  }
  .proadmap-center-line-box-bottom {
    width: max-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div:nth-child(1) {
      width: 2.5rem;
      height: 1px;
      background-color: #fff;
      margin: 0 0 0.75rem 0;
    }
    & > div:nth-child(2) {
      width: 4.5rem;
      height: 1px;
      background-color: #fff;
    }
  }
}
.proadmap-box {
  width: max-content;
  display: flex;
  align-items: center;
  .proadmap-box-number {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem 0 0;
    span {
      font-size: 18.5rem;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
      font-family: conthrax, sans-serif;
    }
  }
  .proadmap-box-text-con {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      width: 5rem;
      height: 1px;
      background-color: #fff;
      display: block;
    }
    .proadmap-box-text-con-box {
      position: relative;
      width: max-content;
      img {
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
      }
      h4 {
        font-size: 2.5rem;
        color: #01fbc2;
        margin: 0 0 0.5rem 0;
        z-index: 55;
        position: relative;
      }
      p {
        font-size: 1.5rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        z-index: 55;
        position: relative;
      }
    }
  }
}
.proadmap-box-left {
  .proadmap-box-number {
    justify-content: flex-end;
    padding: 0 5rem 0 0;
  }
}
.proadmap-box-right {
  .proadmap-box-number {
    justify-content: flex-start;
    padding: 0 0 0 5rem;
  }
}
.proadmap-box-1,
.proadmap-box-3,
.proadmap-box-5,
.proadmap-box-7,
.proadmap-box-9,
.proadmap-box-11,
.proadmap-box-13,
.proadmap-box-15,
.proadmap-box-17 {
  .proadmap-box-text-con-box {
    padding: 5rem 5rem 5rem 2.5rem;
  }
}
.proadmap-box-2,
.proadmap-box-4,
.proadmap-box-6,
.proadmap-box-8,
.proadmap-box-10,
.proadmap-box-12,
.proadmap-box-14,
.proadmap-box-16 {
  .proadmap-box-text-con-box {
    padding: 7.5rem 1.5rem 1.5rem 7.5rem;
  }
}
.passengers-footer-bg {
  width: 100%;
  height: max-content;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
}

.fpfquest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem 4rem;
  background: #09062c;
  transform: skew(-15deg, 0deg);
  border-bottom: 0.5px solid #fff;
  .fpfqleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 95%;
    transform: skew(15deg, 0deg);
    span {
      color: #fff;
      font-weight: 500;
      font-size: 2.5rem;
      margin: 0 5rem 0 0;
      font-family: conthrax, sans-serif;
    }
    p {
      font-size: 1.75rem;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 !important;
      font-family: conthrax, sans-serif;
    }
  }
  .fpfqright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: skew(15deg, 0deg);
    svg {
      color: #fff;
      font-size: 2.5rem;
    }
  }
}
.fpfans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;
  background: #09062c;
  transform: skew(-15deg, 0deg);
  margin: 1.5rem 0 0 0;
  h6 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 3rem;
    color: #fff;
    text-transform: normal;
    transform: skew(15deg, 0deg);
  }
}
.passengersheadermob {
  display: none;
}

@media screen and (max-width: 1440px) {
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul
    li {
    margin: 0 4rem 0 0;
  }
}

@media screen and (max-width: 1040px) {
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul
    li {
    margin: 0 1.5rem 0 0;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul
    li.faqnomarg {
    margin: 0;
  }
  .passengerpage .passengermain .passengersheaderhero .passengerheader {
    height: 10.5rem;
    padding: 0 3rem;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul {
    margin: 0 0 0 4rem;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul
    li
    a {
    font-size: 1.45rem;
  }
  .passengerpage {
    padding: 3.5rem;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    img {
    width: 25%;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderright
    .volumeicons {
    width: 30%;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderright
    .passengerscomingsoon {
    width: 60%;
    margin: 0 0 0 1rem;
    padding: 1.25rem 0;
  }
  .passengerpage .passengermain .passengersteam .passengersteamgrid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
  }
  .passengerpage .passengermain .passengersfaq .pfaqbox {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .passengerpage .passengermain .passengersheaderhero {
    min-height: 100vh;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    ul {
    display: none;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderright
    .passengerscomingsoon {
    display: none;
  }
  .passengerpage .passengermain .passengersheaderhero .passengerheader {
    height: 7.5rem;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    img {
    width: 40%;
  }
  .passengersheaderhero .passengerheader .passengerheaderright .volumeicons {
    width: 45% !important;
  }
  .passengersheadermob {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 50%;
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-height: 4.5rem;
    max-width: 4.5rem;
    box-shadow: 0px 16px 34px -9px rgba(0, 76, 172, 0.61);
    color: #fff;
    margin: 0 0 0 1.5rem;
    svg {
      width: 2.75rem;
      height: max-content;
      color: #fff;
    }
  }
  .passengerpage .passengermain .passengersheaderhero .passengershero h3 {
    font-size: 6.25rem;
  }
  .proadmap-center-line-box {
    display: none;
  }
  .proadmap-box {
    flex-direction: column;
  }
  .proadmap-box .proadmap-box-text-con span {
    display: none;
  }
  .proadmap-box .proadmap-box-text-con .proadmap-box-text-con-box img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .proadmap-box .proadmap-box-text-con {
    width: 75%;
  }
  .proadmap-container {
    margin: 0;
    padding: 2rem 0 5rem 0;
  }
  .proadmap-box-1 .proadmap-box-text-con-box {
    padding: 5rem 8rem 5rem 2.5rem;
  }
  .proadmap-box-left .proadmap-box-number {
    padding: 0;
    justify-content: center;
  }
  .proadmap-box.proadmap-box-right {
    flex-direction: column-reverse;
  }
  .proadmap-box-right .proadmap-box-number {
    padding: 0;
    justify-content: center;
  }
  .passengerpage .passengermain .passengersteam .passengersteamgrid {
    grid-gap: 3rem 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .fpfquest {
    padding: 2rem;
  }
  .fpfquest .fpfqleft p {
    font-size: 1.45rem;
  }
  .fpfquest .fpfqleft span {
    font-size: 2.25rem;
    margin: 0 3rem 0 0;
  }
  .fpfans h6 {
    font-size: 1.55rem;
  }
}

@media screen and (max-width: 650px) {
  .passengerpage {
    padding: 0;
  }
  .passengers-header-bg {
    display: none;
  }
  .passengerpage .passengermain .passengers-header-mob-bg {
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 99;
    display: block;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderleft
    img {
    width: 75%;
  }
  .passengerpage
    .passengermain
    .passengersheaderhero
    .passengerheader
    .passengerheaderright
    .volumeicons {
    display: none;
  }
  .passengerpage .passengermain .passengersheaderhero {
    min-height: 70vh;
  }
  .passengerpage .passengermain .passengersheaderhero .passengershero h3 {
    font-size: 2.5rem;
  }
  .proadmap-box-1 .proadmap-box-text-con-box {
    padding: 7rem 2rem 5rem 2.5rem;
  }
  .proadmap-box .proadmap-box-text-con {
    width: 74%;
  }
  .passengerpage
    .passengermain
    .passengersteam
    .passengersteamgrid
    .ptgmainbox
    img {
    width: 100%;
    height: 100%;
  }
  .passengerpage .passengermain .passengersteam .passengersteamgrid {
    width: 100%;
    grid-gap: 3rem 2rem;
  }
  .passengerpage .passengermain .passengersaboutus .passaboutusbtn {
    width: 100%;
    flex-direction: column;
    button {
      width: 60%;
      margin: 0 0 4rem 0;
      padding: 2.15rem 1.5rem;
      svg {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }
  .passengerpage .passengermain .passengersaboutus p {
    font-size: 1.65rem;
    br {
      display: none;
    }
  }
  .fpfquest .fpfqleft p {
    font-size: 1rem;
  }
  .fpfquest .fpfqleft span {
    font-size: 1.75rem;
    margin: 0 1.5rem 0 0;
  }
  .fpfans h6 {
    font-size: 1.25rem;
  }
}
